# Python
*.pyc
__pycache__/
*.log
*.tmp
*.swp
/build
/dist
/venv
/env
/envs
/Pipfile.lock
/conda.lock

*build/


# Arduino
*.o
*.elf
*.hex
*.user*
*~
*.bak
.dist
*.onnx


*.pt
components/stepper_motor/src/control_via_serial/build
components/stepper_motor/src/control_via_serial/control_via_serial.ino.standard.hex
components/camera_vision/data/targets/*
components/camera_vision/yolov3.weights
components/camera_vision/yolo_object_detection/runs
components/nerf_turret_utils/nerf_turret_utils.egg-info
.pytest_cache
components/nerf_turret_utils/build
components/camera_vision/yolo_object_detection/YOLOWrapper_latencies_63b4c528-6.json
