# Python
*.pyc
__pycache__/
*.log
*.tmp
*.swp
/build
/dist
/venv
/env
/envs
/Pipfile.lock
/conda.lock


# Arduino
*.o
*.elf
*.hex
*.user*
*~
*.bak
.dist
components/stepper_motor/src/control_via_serial/build
components/stepper_motor/src/control_via_serial/control_via_serial.ino.standard.hex
components/camera_vision/data/targets/*
components/camera_vision/yolov3.weights
